<div class="justify content-center">
<form action="/productos/update?_method=PUT" method="post">
    <div>
        <label for="nombre" class="form-label" >Nombre:</label>
        <input type="text" name="nombre" id="nombre" class="form-control" value="<%= producto.nombre %>">
    </div>
    <div>
        <label for="categoria" class="form-label">Categoria:</label>
        <select class="form-control" name="categoria" id="categoria">
            <option value=""></option>
            <option value="1">Categoria 1</option>
            <option value="2">Categoria 2</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>

</form>
</div>